* {
  box-sizing: border-box;
}

body {
  background-color: #F2F2F2;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 700px;
}

.square {
  background-color: #BFBFBF;
  box-shadow: 0 0 2px #404040;
  height: 16px;
  width: 16px;
  margin: 2px;
  transition: 5s ease-in-out;
}

.square:hover {
  transition-duration: 0s;
}
